dl.field-list .doc-param-default, dl.doc-field-list .doc-param-default {
  float: none;
}

dd.doc-field-def > p:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

dl.field-list, dl.doc-field-list {
  display: flex;
  flex-flow: row wrap;
  padding-left: 10px;
}

dl.field-list > dt, dl.doc-field-list > dt {
  flex-basis: 20%;
  font-weight: bold;
  word-break: break-word;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}

dl.field-list > dt:after {
  content: ":";
}

dl.field-list > dd.doc-field-def, dl.doc-field-list > dd.doc-field-def {
  flex-basis: 70%;
  flex-grow: 1;
  margin: 0;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dl {
  margin-bottom: 15px;
}

dd > :first-child {
  margin-top: 0;
}

dd ul, dd table {
  margin-bottom: 10px;
}

dd {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 30px;
}

dl > dd:last-child,
dl > dd:last-child > :last-child {
  margin-bottom: 0;
}

dt:target, span.highlighted {
  background-color: #fbe54e;
}
